<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}Halloween Trick-or-Treat Sender</title>
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
	<h1>Halloween Trick-or-Treat Sender</h1>
</header>
<main id="app">
    	{% block content %}
    	{% endblock %}
</main>
<footer>
	<div class="copyright">copyright &copy; Matthew Setter & Twilio 2022.</div>
</footer>
</body>
</html>
